                            
        {% for item in items %}

        <div class="listing-list-item">
            <div class="slide-recommended">
                <img src="/image/icons/star-recomended.svg" alt="">
                <span>Рекомендуем</span>
            </div>
            <div class="list-item-slider">
                <div class="swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/image/houses-listing/house2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/image/houses-listing/house2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/image/houses-listing/house2.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </div>
            <div class="list-item-content">
                <div class="list-item-title">
                    <a href="/catalog/{{item.pansion_url}}">{{item.pansion_name}}</a>
                </div>
                <div class="list-item-desc">
                    <p>{{item.pansion_address}}</p>
                </div>
                <div class="list-item-price">
                    <span>{{item.pansion_price}}</span> рублей/сутки
                </div>
                <div class="list-item-price-comment">
                    <span>Цена за месяц: от 45000 рублей</span>
                </div>
                <div class="list-item-options">
                    <ul class="options-list">
                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                    </ul>
                </div>
                <div class="list-item-btns">
                    <button class="btn">Забронировать</button>
                    <a class="btn-white" href="/catalog/{{item.pansion_url}}">О хосписе</a>
                </div>
            </div>
        </div>

        {% endfor %}

{# {% for item in items %}
    <a href="/ploshhadki/{{item.id}}/" class="item swiper-slide {{type}}">
        <div class="item_img">
            <img src="{{item.restaurant_images[0].subpath}}=w440-h302-n-l95" loading="lazy" alt="{{img_alt | replace({"**rest_name**" : item.restaurant_name})}}"/> #}

            {#<div class="item_date-availability">
                <span>Свободно 12 декабря</span>
            </div>#}

        {# </div>
        <div class="item_info">
            <div class="item_info_top">
                <p class="item_name">{{item.restaurant_name}}</p>

                <p class="item_district"><span class="problems">--</span>{{item.restaurant_district}}</p>
                <object>
                    <a class="item_address _link_blue">{{item.restaurant_address}}</a>
                </object> #}

                {# <div style="display: inline; font-size: 14px; font-weight: 400; line-height: 20px; color: #225db7;">
                    <a href="#" style="border-bottom: 1px dashed #225db7; padding-bottom: 1px;" class="item_address">{{item.restaurant_address}}</a>
                </div> #}
                
                {# <div class="another_restaurant_row restaurant_address">
                    <a href="#">{{item.restaurant_address}}</a>
                </div> #}

                <!-- <hr class="item_horizontal_raw"> -->
                    
                {# <div class="item_meta">

                    <div class="item_meta_item">
                        <span class="item_meta_label">
                            {# {% for type in item.restaurant_types %}
                                {{type.name}}
                            {% endfor %} #}
                            {# <span class="problems">-- Загородная площадка</span> на </span><span class="item_meta_text">{{item.restaurant_max_capacity}} человек</span>
                    </div>  #}

                    {# <!-- {% if item.restaurant_min_capacity != item.restaurant_max_capacity %} #}
                        {# <div class="item_meta_item"> #}
                            {# <span class="item_meta_label">Вместимость: </span><span class="item_meta_text">{{item.restaurant_min_capacity}} - {{item.restaurant_max_capacity}} чел.</span> #}
                            {# <span class="item_meta_label">Загородная площадка на </span><span class="item_meta_text">{{item.restaurant_min_capacity}} чел.</span>
                        </div> #}
                    {# {% else %} #}
                        {# <div class="item_meta_item"> #}
                            {# <span class="item_meta_label">Вместимость: </span><span class="item_meta_text">{{item.restaurant_min_capacity}} чел.</span> #}
                            {# <span class="item_meta_label">Загородная площадка на</span><span class="item_meta_text">{{item.restaurant_min_capacity}} человек</span>
                        </div> #}
                    {# {% endif %} #} 

                    {# {% if item.restaurant_price %}
                        <div class="item_meta_item">
                            <span class="item_meta_label">Стоимость: </span><span class="item_meta_text">от {{item.restaurant_price}} ₽/чел.</span>
                        </div>
                    {% endif %} #}
{# 
                </div>

                <div class="item_row restaurant_own">
                    {% if item.restaurant_own_alcohol %}
                        <div class="restaurant_option_wrapper">
                            <p>Со своей едой</p>
                        </div>
                        {% if item.restaurant_own_alcohol %}
                        <div class="restaurant_option_wrapper">
                            <div class="gray_circle"></div>
                            <p>Со своим алкоголем</p>
                        </div>
                        {% endif %}
                        {% if item.restaurant_firework %}
                        <div class="restaurant_option_wrapper">
                            <div class="gray_circle"></div>
                            <p>Фейерверк</p>
                        </div>
                        {% endif %}
                        {% elseif item.restaurant_own_alcohol %}
                            <div class="restaurant_option_wrapper">
                                <div class="gray_circle"></div>
                                <p>Со своим алкоголем</p>
                            </div>
                            {% if item.restaurant_firework %}
                                <div class="restaurant_option_wrapper">
                                    <p>Фейерверк</p>
                                </div>
                            {% endif %}
                            {% elseif item.restaurant_firework %}
                                <div class="restaurant_option_wrapper">
                                    <p>Фейерверк</p>
                                </div>
                    {% endif %}
                </div>

                <div class="item_row restaurant_price">
                    от {% set lowestPrice = item.restaurant_price %}
                    {% for room in item.rooms %}
                        {% if room.price < lowestPrice %}
                            {% set lowestPrice = room.price %}
                        {% endif %}
                    {% endfor %}
                    {{lowestPrice}} ₽/чел.
                </div>

            </div>
        </div>
        <div class="item_additional-info">

            {% if item.id > 50 %}
                <div class="object_benefit">
                    <div class="object_benefit_img"></div>
                    <div class="object_benefit_text">Получи подарок за бронь!</div>
                </div>
            {% else %}
                <div class="object_reservation">
                    <div class="object_reservation_img"></div>
                    <div class="object_reservation_text">Успей забронировать!</div>
                </div>
            {% endif %} #}

            <!-- <div class="item_gift-for-early-reservation">
                    <span>Подарок за бронирование</span>
                </div> -->
            {# <!-- {% if item.restaurant_firework %} #}
            {# <div class="item_fireworks-availability">
                <span>Возможность фейерверка</span>
            </div>
            {% endif %} --> #}

        {# </div>
    </a>
{% endfor %} #}
