{# <div class="item_page_wrapper" data-page-type="item">

    <div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo}) | raw }}
    </div>

    <div class="top_slider_wrapper">
        <div class="top_slider">
            <div class="swiper-container swiper_top">

                <div class="swiper-wrapper">

                    {% for image in item.restaurant_images %}
                        <div class="swiper-slide">
                            <img src="{{image.subpath}}=w710-h472-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
                        </div>
                    {% endfor %}

                </div>

                {{ this.render('//components/generic/restaurant_title.twig', {'seo':seo}) | raw }}

                <div class="top-swiper-button-prev"></div>
                <div class="top-swiper-button-next"></div>
                <div class="top-swiper-pagination swiper-pagination"></div>


            </div>

        </div>
    </div>

    <div class="content_block1 white" data-page-type="item">
        <div class="object_head1 flex">

            <div class="object_parameters">

                {{ this.render('//components/generic/item_parameter_list.twig', {'item':item}) | raw }}
                
            </div>

            <div class="column_2"></div>

            <div class="column_3"> #}

                {# <div class="object_benefit">
                    <div class="object_benefit_img"></div>
                    <div class="object_benefit_text">Получи подарок за бронь!</div>

                </div> #}

                {# {% if item.id > 50 %}
                    <div class="object_benefit">
                        <div class="object_benefit_img"></div>
                        <div class="object_benefit_text">Получи подарок за бронь!</div>
                    </div>
                {% else %}
                    <div class="object_reservation">
                        <div class="object_reservation_img"></div>
                        <div class="object_reservation_text">Успей забронировать!</div>
                    </div>
                {% endif %}
                
                <div class="object_book1">

                        <p class="object_book_text">Телефон</p>
                        <div class="object_book_hidden">

                            <p class="object_book_phone">

                                <span class="object_fake_phone">+7 <span class="object_fake_phone_snowflakes">(xxx) xxx-xx-xx</span></span>
                                <a href="tel:{{item.restaurant_phone}}" class="object_real_phone">{{item.restaurant_phone}}</a>

                            </p>

                            <div class="object_book_hidden_button _link_blue" data-action="show_phone">Показать телефон</div>
                                                    
                        </div>

                </div>

                <div class="object_reserve">
                    <div class="object_reserve_img"></div>
                    <div class="object_reserve_text">Забронировать</div>

                </div>

            </div>

        </div>
    </div>

    <div class="content_wrapper">

        <div class="content_block1" data-page-type="item">

            <h2 class="object_header">Залы</h2>

            {% for room in item.rooms %}
            <div class="object_head1 room">

                <div class="object_column">

                    <div class="object_column_header">
                        {{ this.render('//components/generic/room_title.twig', {'room':room}) | raw }}
                    </div> #}

                    {# <div class="object_benefit">
                        <div class="object_benefit_img"></div>
                        <div class="object_benefit_text">Получи подарок за бронь!</div>
                    </div> #}

                    {# {% if room.id > 50 %}
                        <div class="object_benefit">
                            <div class="object_benefit_img"></div>
                            <div class="object_benefit_text">Получи подарок за бронь!</div>
                        </div>
                    {% else %}
                        <div class="object_reservation">
                            <div class="object_reservation_img"></div>
                            <div class="object_reservation_text">Успей забронировать!</div>
                        </div>
                    {% endif %}

                    <div class="object_parameters">

                        {{ this.render('//components/generic/room_parameter_list.twig', {'room':room}) | raw }}
                        
                    </div>

                    <div class="object_reserve">
                        <div class="object_reserve_img"></div>
                        <div class="object_reserve_text">Забронировать</div>

                    </div>

                </div>

                <div class="object_gallery1" data-gallery data-id="{{room.restaurant_id}}">

                    <div class="swiper-container gallery-top">

                        <div class="swiper-wrapper">

                            {% for image in room.images %}
                                <div class="swiper-slide">
                                    <a href="{{image.waterpath}}=s0" data-lightbox="top_slider"><img src="{{image.subpath}}=w710-h472-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/></a>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="middle-swiper-pagination swiper-pagination"></div>
                        

                    </div>

                    <div class="swiper-container gallery-thumbs">

                        <div class="first_slide_gradient _hide"></div>
                        <div class="swiper-wrapper">
                            {% for image in room.images %}
                                <div class="swiper-slide object_thumb">
                                    <img src="{{image.subpath}}=w138-h92-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="last_slide_gradient"></div>

                    </div>

                </div>

            </div>
            {% endfor %}
        </div>

    </div>
    
    <div class="map">
        <div id="map" data-mapDotX="{{item.restaurant_latitude}}" data-mapDotY="{{item.restaurant_longitude}}" data-name="{{item.restaurant_name}}" data-address="{{item.restaurant_address}}" data-image="{{item.restaurant_cover_url}}" data-capacity="{{item.restaurant_max_capacity}}" data-lowest-price="{% set lowestPrice = item.restaurant_price %}{% for room in item.rooms %}{% if room.price < lowestPrice %}{% set lowestPrice = room.price %}{% endif %}{% endfor %}{{lowestPrice}}" data-balloon="" data-hint="">
        </div>
    </div>

    <div class="content_block form_booking_wrapper">

        {{ this.render('//components/generic/form_booking1.twig', {'items':other_rooms}) | raw }}

    </div>

    <div class="another_restaurants">
        <div class="another_restaurants_header">Похожие площадки</div>
        <div class="another_restaurants_container">
            {% for i in 1..2 %}
                <div class="another_restaurants_column">
                    {{ this.render('//components/generic/another_restaurants.twig', {'item':item}) | raw }}
                </div>
            {% endfor %}
        </div>
    </div>

</div> #}

        <section class="single-content" data-page-type="item">
            <div class="container">
                <div class="single-top">
                    <div class="single-top-wrap">
                        <div class="single-top-img">
                            <div class="swiper swiper-single-top">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/image/houses-single/house1.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/image/houses-single/house1.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/image/houses-single/house1.png" alt="">
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>

                            </div>
                        </div>
                        <div class="single-top-desc">

                            <div class="single-top-desc-padding">
                                <div class="single-top-desc-title">
                                    Пансионат для престарелых <span>«Одинцово»</span> Забота о близких
                                </div>
                                <div class="single-top-desc-adress">
                                    Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                </div>
                                <div class="single-top-desc-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="single-top-desc-price-comment">
                                    Цена за месяц: от 45000 рублей
                                </div>
                                <div class="single-top-desc-btn">
                                    <button class="btn">Забронировать</button>
                                </div>
                            </div>

                            <div class="single-top-desc-phone-wrap">
                                <div class="single-top-desc-phone">
                                    <div class="desc-phone-icon">
                                        <img src="/image/icons/single-phone.svg" alt="">
                                    </div>
                                    <div class="desc-phone-number">
                                        <span>+7 (495) 108-29-52</span>
                                        <span>Консультация по всем вопросам 24/7</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="single-top-links">
                        <div class="links-item">
                            <a href="#" class="btn-white">Условия размещения</a>
                        </div>
                        <div class="links-item">
                            <a href="#" class="btn-white">Удобства</a>
                        </div>
                        <div class="links-item">
                            <a href="#" class="btn-white">Заболевания</a>
                        </div>
                        <div class="links-item">
                            <a href="#" class="btn-white">Документы</a>
                        </div>
                        <div class="links-item">
                            <a href="#" class="btn-white">Цены</a>
                        </div>
                        <div class="links-item">
                            <a href="#" class="btn-white">Отзывы</a>
                        </div>
                        <div class="links-item">
                            <a href="#" class="btn-white">Как добраться</a>
                        </div>
                    </div>
                </div>

                <div class="map" style="height: 400px">
                    <div id="map" data-mapDotX="52.283" data-mapDotY="104.322" data-name="test" data-address="test" data-image="test" data-capacity="test" data-lowest-price="test" data-balloon="" data-hint="">
                    </div>
                </div>

                <div class="single-wrap">
                    <div class="single-condition">
                        <div class="single-condition-title single-title">
                            Условия размещения
                        </div>
                        <div class="single-condition-text">
                            <p>
                                Нет ничего дороже, чем здоровье и хорошее самочувствие близких людей. Пансионат для пожилых Медведково предлагает своим клиентам комфортабельные условия для временного или постоянного пребывания престарелых людей на территории благоустроенного комплекса.
                            </p>
                            <p>
                                Здесь работают с людьми, перенесшими инсульт, страдающими сахарным диабетом, деменцией, болезнью Альцгеймера или Паркинсона. Сотрудники отслеживают курс медикаментозной терапии, помогают в уходе и ежедневной гигиене.
                            </p>
                            <p>
                                Реабилитационные программы направлены не только на укрепление физической силы, но и психологическую разгрузку. Профессиональная помощь со стороны психолога помогает пенсионерам быстрее привыкнуть к новым условиям жизни и понять, что старость – это "золотые
                                годы", а не финишная черта.
                            </p>
                        </div>
                    </div>
                    <div class="single-comforts">
                        <div class="single-comforts-title single-title">
                            Удобства
                        </div>
                        <ul class="single-comforts-list">
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/medicaments.svg)">
                                </div>
                                <div class="item-text">
                                    Назначение и выдача медикаментов
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/doctors.svg)">
                                </div>
                                <div class="item-text">
                                    Персонал врачей
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/gigienic.svg)">
                                </div>
                                <div class="item-text">
                                    Регулярные гигиенический процедуры
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/rest.svg)">
                                </div>
                                <div class="item-text">
                                    Уход за лежачими больными
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/transfer.svg)">
                                </div>
                                <div class="item-text">
                                    Транспортировка до хосписа
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/alarm-btn.svg)">
                                </div>
                                <div class="item-text">
                                    Кнопка вызова персонала
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/monitoring24.svg)">
                                </div>
                                <div class="item-text">
                                    Круглосуточная сиделка
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/invalids.svg)">
                                </div>
                                <div class="item-text">
                                    Безбарьерная среда
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/med-view.svg)">
                                </div>
                                <div class="item-text">
                                    Регулярный медицинский осмотр
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/massage.svg)">
                                </div>
                                <div class="item-text">
                                    ЛФК и массаж
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/dosug.svg)">
                                </div>
                                <div class="item-text">
                                    Организация досуга
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/psyho-pacients.svg)">
                                </div>
                                <div class="item-text">
                                    Для пациентов с когнитивными нарушениями
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/nature.svg)">
                                </div>
                                <div class="item-text">
                                    Парковая территория
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/reability-programs.svg)">
                                </div>
                                <div class="item-text">
                                    Программы реабилитации
                                </div>
                            </li>
                            <li class="comforts-list-item">
                                <div class="item-img" style="background-image:url(/image/options-icons/everyday-control.svg)">
                                </div>
                                <div class="item-text">
                                    Ежедневный контроль жизненных показателй
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="single-diseases">
                        <div class="single-diseases-title single-title">
                            Заболевания
                        </div>
                        <div class="single-diseases-list">
                            <div>Инсульт</div>
                            <div>Инфаркт</div>
                            <div>Онкология</div>
                            <div>Паркинсон</div>
                            <div>Альцгеймер</div>
                            <div>Деменция</div>
                            <div>Психические заболевания</div>
                            <div>Сахарный диабет</div>
                            <div>Перелом шейки бедра</div>
                        </div>
                    </div>
                    <div class="single-documents">
                        <div class="single-documents-title single-title">
                            Документы
                        </div>
                        <div class="single-documents-list">
                            <div style="background-image: url(/image/documents/doc1.png)"></div>
                            <div style="background-image: url(/image/documents/doc2.png)"></div>
                            <div style="background-image: url(/image/documents/doc3.png)"></div>
                            <div style="background-image: url(/image/documents/doc4.png)"></div>
                        </div>
                    </div>
                    <div class="single-prices">
                        <div class="single-prices-title single-title">
                            Цены
                        </div>
                        <div class="single-prices-list">
                            <div class="single-prices-list-item">
                                <div class="item-title">Базовый уход</div>
                                <div class="item-desc">
                                    Для самостоятельных<br>пожилых людей
                                </div>
                                <div class="item-price">
                                    от <span>800</span> руб.
                                </div>
                            </div>
                            <div class="single-prices-list-item">
                                <div class="item-title">Специальный уход</div>
                                <div class="item-desc">
                                    Для больных деменцией<br>и инвалидов
                                </div>
                                <div class="item-price">
                                    от <span>1000</span> руб.
                                </div>
                            </div>
                            <div class="single-prices-list-item">
                                <div class="item-title">Интенсивный уход</div>
                                <div class="item-desc">
                                    Для лежачих<br>и тяжелобольных пожилых
                                </div>
                                <div class="item-price">
                                    от <span>1200</span> руб.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="single-testimonial-title single-title">
                            Отзывы
                        </div>
                        <div class="single-testimonial-list">
                            <div class="testimonial-item">
                                <div class="item-avatar">
                                    <img src="/image/icons/relations-avatar-woman.svg" alt="">
                                </div>
                                <div class="item-desc">
                                    <div class="item-desc-rating">
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                    </div>
                                    <div class="item-desc-text">
                                        <p>
                                            У меня мама тут почти год. Я нарадоваться не могу, что нашла ей такое замечательное место!! Для нее тут все условия. Красивые чистые комнаты, кормят вкусно, сиделка Маша все время о ней заботится, мероприятия разные для них всех проводят. Еще и правила
                                            санитарные соблюдаются очень хорошо, все работники в масках и перчатках. Комнаты проветривают и специальной лампой помещения обрабатывают. Очень благодарна Марине Александровне, что она так грамотно организовала
                                            работу в пансионате!
                                        </p>
                                    </div>
                                    <div class="item-desc-info">
                                        <div class="info-name">Ирина,</div>
                                        <div class="info-date">12 апреля 2022</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="item-avatar">
                                    <img src="/image/icons/relations-avatar-man.svg" alt="">
                                </div>
                                <div class="item-desc">
                                    <div class="item-desc-rating">
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                    </div>
                                    <div class="item-desc-text">
                                        <p>
                                            Я сюда дядю отвез полгода назад. Он жил в другом городе совсем один, а он уже в возрасте, ему забота и уход нужны. Дома постоянно болел, в день иногда по 2 раза скорую ему вызывали, никакого интереса к жизни у него не было. В Сабриново ему очень нравится,
                                            за ним сиделка милая приглядывает, помогает ему и в порядок себя привести, и в комнате чистоту поддерживает, и на прогулки водит (он ходит с опорой, так что ему поддержка нужна). Созванивался с ним недавно,
                                            голос даже как-то бодрее стал. Спасибо вам большое за заботу о нем!
                                        </p>
                                    </div>
                                    <div class="item-desc-info">
                                        <div class="info-name">Александр,</div>
                                        <div class="info-date">12 апреля 2022</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="item-avatar">
                                    <img src="/image/icons/relations-avatar-woman.svg" alt="">
                                </div>
                                <div class="item-desc">
                                    <div class="item-desc-rating">
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                    </div>
                                    <div class="item-desc-text">
                                        <p>
                                            У меня мама тут почти год. Я нарадоваться не могу, что нашла ей такое замечательное место!! Для нее тут все условия. Красивые чистые комнаты, кормят вкусно, сиделка Маша все время о ней заботится, мероприятия разные для них всех проводят. Еще и правила
                                            санитарные соблюдаются очень хорошо, все работники в масках и перчатках. Комнаты проветривают и специальной лампой помещения обрабатывают. Очень благодарна Марине Александровне, что она так грамотно организовала
                                            работу в пансионате!
                                        </p>
                                    </div>
                                    <div class="item-desc-info">
                                        <div class="info-name">Ирина,</div>
                                        <div class="info-date">12 апреля 2022</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="item-avatar">
                                    <img src="/image/icons/relations-avatar-man.svg" alt="">
                                </div>
                                <div class="item-desc">
                                    <div class="item-desc-rating">
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                        <div class="rating-star" style="background-image: url(/image/icons/star-rating.svg);"></div>
                                    </div>
                                    <div class="item-desc-text">
                                        <p>
                                            Я сюда дядю отвез полгода назад. Он жил в другом городе совсем один, а он уже в возрасте, ему забота и уход нужны. Дома постоянно болел, в день иногда по 2 раза скорую ему вызывали, никакого интереса к жизни у него не было. В Сабриново ему очень нравится,
                                            за ним сиделка милая приглядывает, помогает ему и в порядок себя привести, и в комнате чистоту поддерживает, и на прогулки водит (он ходит с опорой, так что ему поддержка нужна). Созванивался с ним недавно,
                                            голос даже как-то бодрее стал. Спасибо вам большое за заботу о нем!
                                        </p>
                                    </div>
                                    <div class="item-desc-info">
                                        <div class="info-name">Александр,</div>
                                        <div class="info-date"> 12 апреля 2022</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="home-bottom-banner">
            <div class="container">
                <div class="free-consultation">
                    <div class="free-consultation-left">
                        <div class="consultation-title">Поможем подобрать место, в котором пациенту будет комфортно</div>
                        <div class="consultation-desc">
                            <p>Оставьте важную информацию о состоянии больного и свои контакты</p>
                            <p>Мы свяжемся в ближайшее время</p>
                        </div>
                    </div>
                    <div class="free-consultation-center">
                        <img src="/image/logo-white.png" alt="logo">
                    </div>
                    <div class="free-consultation-right">
                        <form action="/" class="consultation-form">
                            <div class="form-title">Подобрать место</div>
                            <div class="form-input">
                                <input type="text" name="consultation-contact" placeholder="Email/телефон">
                            </div>
                            <div class="form-input">
                                <input type="text" name="consultation-name" placeholder="Ваше имя">
                            </div>
                            <div class="form-input">
                                <textarea type="text" name="consultation-info" placeholder="Дополнительная информация"></textarea>
                            </div>
                            <div class="form-accept">
                                <div class="form-accept-check-bottom">
                                    <input type="checkbox" id="form-accept-check-bottom">
                                    <label class="form-accept-desc" for="form-accept-check-bottom">
                                        <span>Я согласен с условиями обработки <a href="#">персональных данных</a></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-submit">
                                <button class="btn">Подобрать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="located-nearby">
            <div class="container">
                <div class="best-hospises-title">
                    <h2>Рядом расположены</h2>
                </div>
                <div class="best-hospises-list">

                    <div class="listing-list-item">
                        <div class="slide-recommended">
                            <img src="/image/icons/star-recomended.svg" alt="">
                            <span>Рекомендуем</span>
                        </div>
                        <div class="list-item-slider">
                            <div class="swiper swiper-located-nearby">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/image/houses-listing/house2.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/image/houses-listing/house2.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/image/houses-listing/house2.png" alt="">
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>

                            </div>
                        </div>
                        <div class="list-item-content">
                            <div class="list-item-title">
                                <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                            </div>
                            <div class="list-item-desc">
                                <p>
                                    Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                </p>
                            </div>
                            <div class="list-item-price">
                                <span>3000</span> рублей/сутки
                            </div>
                            <div class="list-item-price-comment">
                                <span>Цена за месяц: от 45000 рублей</span>
                            </div>

                            <div class="list-item-btns">
                                <button class="btn">Забронировать</button>
                                <button class="btn-white">О хосписе</button>
                            </div>
                        </div>
                    </div>

                    <div class="listing-list-item">
                        <div class="slide-recommended">
                            <img src="/image/icons/star-recomended.svg" alt="">
                            <span>Рекомендуем</span>
                        </div>
                        <div class="list-item-slider">
                            <div class="swiper swiper-located-nearby">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/image/houses-listing/house2.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/image/houses-listing/house2.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/image/houses-listing/house2.png" alt="">
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>

                            </div>
                        </div>
                        <div class="list-item-content">
                            <div class="list-item-title">
                                <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                            </div>
                            <div class="list-item-desc">
                                <p>
                                    Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                </p>
                            </div>
                            <div class="list-item-price">
                                <span>3000</span> рублей/сутки
                            </div>
                            <div class="list-item-price-comment">
                                <span>Цена за месяц: от 45000 рублей</span>
                            </div>

                            <div class="list-item-btns">
                                <button class="btn">Забронировать</button>
                                <button class="btn-white">О хосписе</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

