<div data-page-type="index">

        {{ this.render('//components/generic/home_banner.twig', { 'top_banner_form':top_banner_form }) | raw}}

        {{ this.render('//components/generic/listing_list.twig', {'items':items, 'filter':filter, 'pagination':pagination}) | raw}}
	
        {{ this.render('//components/generic/map.twig') | raw}}

        {{ this.render('//components/generic/best_hospises.twig', {'items':items}) | raw}}

        {{ this.render('//components/generic/answers_questions.twig') | raw}}

        {{ this.render('//components/generic/good_to_know.twig') | raw}}

        {{ this.render('//components/generic/bottom_banner.twig') | raw}}

</div>