<div class="filter-wrap filter-desctop filter" data-filter-wrapper>

	<div class="filter_select-checkbox-wrapper">

		<div class="filter-item filter-price filter_checkbox">
			<div class="filter-title">Цена (за сутки)</div>
			<div class="filter-items" data-type="price">
				<label>
					<input type="radio" name="filter-price" data-value="500" data-filter-checkbox-item>
					<span>до 500 руб.</span>
				</label>
				<label>
					<input type="radio" name="filter-price" data-value="1000" data-filter-checkbox-item>
					<span>до 1000 руб.</span>
				</label>
				<label>
					<input type="radio" name="filter-price"data-value="1100" data-filter-checkbox-item>
					<span>до 1100 руб.</span>
				</label>
				<label>
					<input type="radio" name="filter-price" data-value="1200" data-filter-checkbox-item>
					<span>до 1200 руб.</span>
				</label>
				<label>
					<input type="radio" name="filter-price" data-value="1300" data-filter-checkbox-item>
					<span>до 1300 руб.</span>
				</label>
			</div>
		</div>


		{% for label,filter_item in filters %}
			{% if filter_item.type == 'select' %}
				{{ this.render('filter_select.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			{% elseif filter_item.type == 'input' %}
				{{ this.render('filter_input.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			{% else %}
				{{ this.render('filter_checkbox.twig', {
					'filter_item':filter_item,
					'label':label,
					'filter_active': filter_active
				}) | raw }}
			{% endif %}
		{% endfor %}

		<div class="filter_select middle_chek">
			<p class="filter_label">{{filter_item.name}}Чек на человека</p>
			<div class="filter_select_block" data-type="{{label}}" data-filter-select-block>
				<div class="filter_select_current" data-filter-select-current>
					{# {% if filter_item.active is not null %}
						{% if filter_item.active|length > 1 %}
							<p>Выбрано ({{filter_item.active|length}})</p>
						{% else %}
							<p>{{filter_item.items[filter_item.active|keys|first]}}</p>
						{% endif %}
					{% else %} #}
						<p>-</p>
					{# {% endif %} #}
				</div>
				<div class="filter_select_list">
					{# {% for key,value in filter_item.items %} #}
						<div class="filter_select_item {{filter_item.active[key] is defined ? '_active':''}}" data-value="{{key}}" data-filter-select-item><p>{{value}}</p></div>
					{# {% endfor %} #}
				</div>
			</div>
		</div>

		<div class="filter_select">
			<p class="filter_label">{{filter_item.name}}Район *city*</p>
			<div class="filter_select_block" data-type="{{label}}" data-filter-select-block>
				<div class="filter_select_current" data-filter-select-current>
					{# {% if filter_item.active is not null %}
						{% if filter_item.active|length > 1 %}
							<p>Выбрано ({{filter_item.active|length}})</p>
						{% else %}
							<p>{{filter_item.items[filter_item.active|keys|first]}}</p>
						{% endif %}
					{% else %} #}
						<p>-</p>
					{# {% endif %} #}
				</div>
				<div class="filter_select_list">
					{# {% for key,value in filter_item.items %} #}
						<div class="filter_select_item {{filter_item.active[key] is defined ? '_active':''}}" data-value="{{key}}" data-filter-select-item><p>{{value}}</p></div>
					{# {% endfor %} #}
				</div>
			</div>
		</div>

		<div class="filter_select">
			<p class="filter_label">{{filter_item.name}}Фишки</p>
			<div class="filter_select_block" data-type="{{label}}" data-filter-select-block>
				<div class="filter_select_current" data-filter-select-current>
					{# {% if filter_item.active is not null %}
						{% if filter_item.active|length > 1 %}
							<p>Выбрано ({{filter_item.active|length}})</p>
						{% else %}
							<p>{{filter_item.items[filter_item.active|keys|first]}}</p>
						{% endif %}
					{% else %} #}
						<p>-</p>
					{# {% endif %} #}
				</div>
				<div class="filter_select_list">
					{# {% for key,value in filter_item.items %} #}
						<div class="filter_select_item {{filter_item.active[key] is defined ? '_active':''}}" data-value="{{key}}" data-filter-select-item><p>{{value}}</p></div>
					{# {% endfor %} #}
				</div>
			</div>
		</div>

	</div>

	<div class="filter_submit">
		<div class="filter_submit_button _button" data-filter-button>Посмотреть ___ площадок</div>
	</div>
	<div class="filter_cancel">
		<div class="filter_cancel_button _link_blue" data-filter-button>Сбросить фильтр</div>
	</div>

</div>